<ion-header no-shadow no-border>
  <ion-navbar>
    <ion-title style="text-align:center;font-size: 1.5rem;">我要找师傅上门帮我维修和安装麻将机</ion-title>
  </ion-navbar>
    
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="top_segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="top_0">
        所有订单
      </ion-segment-button>
      <ion-segment-button value="top_1">
        发布新订单
      </ion-segment-button>
      <ion-segment-button value="top_2">
        我发布的订单
      </ion-segment-button>
      <ion-segment-button value="top_3">
        个人中心
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="top_segment">  
    <ion-content *ngSwitchCase="'top_0'">
      <ion-card>
        <ion-card-content>
          <ion-item style="font-size: 0.5rem;">
            <ion-label style="color:black;">选择订单区域</ion-label>
            <ion-select [(ngModel)]="privce" placeholder="省" style="color:black;">
                <ion-option value="hubei">湖北省</ion-option>
                <ion-option value="hunan">湖南省</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="city" placeholder="市" style="color:black;">
                <ion-option value="wuhan">武汉市</ion-option>
                <ion-option value="xiangtan">湘潭市</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="direct" placeholder="区" style="color:black;">
                <ion-option value="dongxin">东新区</ion-option>
                <ion-option value="kaifaqu">开发区</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="town" placeholder="镇" style="color:black;">
                <ion-option value="guanshan">关山大道</ion-option>
                <ion-option value="guanggu">光谷大道</ion-option>
            </ion-select>
            <ion-icon ios="ios-funnel" md="ios-funnel" class="filter-height" item-end tappable (click)="filterByArea($event)"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let publishOrder of publishAllOrder">
        <ion-card-header>
          <ion-row>
            <ion-label style="font-size:1rem;color:gray;">
              订单号：{{publishOrder.orderId}}
            </ion-label>
            <ion-label style="font-size:1rem;color:#f29491;text-align:end" tappable (click)="sendToTop($event)">
              【置顶】
            </ion-label>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <div>
            <ion-label style="font-size:1.5rem;">
              订单发布者：{{publishOrder.orderName}}
            </ion-label>
          </div>
          <div>
            <ion-label style="font-size:1.5rem;">
              {{publishOrder.orderType}}
            </ion-label>
          </div>
          <div>
            <ion-label style="font-size:1.5rem;">
              大概地址：{{publishOrder.address}}
            </ion-label>
          </div>
          <div>
            <ion-label style="font-size:1.5rem;">
              详细地址：{{publishOrder.detailAddress}}
            </ion-label>
          </div>
          <div>
            <ion-label style="font-size:1.5rem;">
              电话：{{publishOrder.tel}}
            </ion-label>
          </div>
          <div>
            <ion-label style="font-size:1.5rem;">
              订单发布日期：{{publishOrder.publishDate}}
            </ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-content>
    <ion-content *ngSwitchCase="'top_1'">
      <ion-grid>
        <ion-row style="padding-top:35%;">
          <ion-col></ion-col>
          <ion-col style="text-align: center;">
            <ion-icon name="clipboard" style="width:100%;font-size:10rem;color:gray;"></ion-icon>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row style="text-align:center;">
          <ion-col col-2></ion-col>
          <ion-col>
            <a style="color:grey;text-align:center;">您当前没有订单，赶紧去发布吧！</a>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col>
            <button ion-button round style="width: 100%;background-color:#66CCFF;color:#2e4553;" (click)="publishOrder($event)">发布新订单</button>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-content *ngSwitchCase="'top_2'">
      <ion-row>
        <ion-col>
          <ion-item no-line>
            <ion-select [(ngModel)]="filterDays" placeholder="自动删除过了3天的订单" style="color:grey;font-size:1.5rem;">
              <ion-option value="3">自动删除过了3天的订单</ion-option>
              <ion-option value="7">自动删除过了7天的订单</ion-option>
            </ion-select>
            <ion-checkbox style="padding-left:5px;font-size:1rem;" [(ngModel)]="selectFilterByDays" (ionChange)="updateSelectFilter()"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-line>
            <ion-label style="font-size:1.5rem;color:#66CCFF;text-align:end;vertical-align: middle;" tappable (click)="refereshMyOrder($event)">
              <ion-icon name="refresh"></ion-icon>
              刷新
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-card *ngFor="let publishOrder of publishAllOrder">
            <ion-card-content>
              <ion-item>
                <ion-label class="top_segment">
                  <ion-icon name="clipboard"></ion-icon>
                  修改内容
                </ion-label>
                <ion-label style="font-size:1.5rem;color:#f29491;text-align:end" tappable (click)="sendToTop($event)">
                  状态：{{publishOrder.status}}
                </ion-label>
              </ion-item>
              <div>
                <ion-label style="font-size:1.5rem;">
                  订单发布者：{{publishOrder.orderName}}
                </ion-label>
              </div>
              <div>
                <ion-label style="font-size:1.5rem;">
                  {{publishOrder.orderType}}
                </ion-label>
              </div>
              <div>
                <ion-label style="font-size:1.5rem;">
                  大概地址：{{publishOrder.address}}
                </ion-label>
              </div>
              <div>
                <ion-label style="font-size:1.5rem;">
                  详细地址：{{publishOrder.detailAddress}}
                </ion-label>
              </div>
              <div>
                <ion-label style="font-size:1.5rem;">
                  电话：{{publishOrder.tel}}
                </ion-label>
              </div>
              <div>
                <ion-label style="font-size:1.5rem;">
                  订单发布日期：{{publishOrder.publishDate}}
                </ion-label>
              </div>
              <div>
                  <a style="font-size:1.5rem;color:#f29491;" tappable (click)="selectMaintainer($event)">上门服务申请 请选择一个师傅</a>
              </div>
              <ion-row>
                <ion-col>
                  <a style="font-size:1.5rem;color:#f29491;">
                    【置顶】
                  </a>
                  <a *ngIf="publishOrder.status != '已上架'" style="font-size:1.5rem;color:#f29491;" tappable (click)="upToTop($event)">
                    【上架】
                  </a>
                  <a *ngIf="publishOrder.status == '已上架'" style="font-size:1.5rem;color:#f29491;" tappable (click)="downFromTop($event)">
                    【下架】
                  </a>
                  <a style="font-size:1.5rem;color:#f29491;">
                    <ion-icon name="alert" style="font-size:1.8rem;color:#f29491;"></ion-icon>
                  </a>
                </ion-col>
                <ion-col style="text-align: end;">
                  <ion-icon name="trash" style="font-size:1.8rem;color:#f29491;"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
    </ion-content>
    <ion-content *ngSwitchCase="'top_3'">
      <ion-row>
        <a class="top_segment" style="padding-left:1.5rem">普通设置</a>
      </ion-row>
      <ion-card>
        <ion-list>
          <button tappable ion-item>
            <ion-icon class="personal-center-icon" name="checkbox" item-start></ion-icon>
            <ion-label style="padding-left:3rem">签到</ion-label>
          </button>
          <button ion-item tappable (click)="editInstruction($event)">
            <ion-icon class="personal-center-icon" name="thumbs-up" item-start></ion-icon>
            <ion-label style="padding-left:3rem">我上传的品牌评选情况</ion-label>
          </button>
          <button tappable ion-item (click)="myPublishOrders($event)">
            <ion-icon class="personal-center-icon" name="clipboard" item-start></ion-icon>
            <ion-label style="padding-left:3rem">我发布的订单</ion-label>
          </button>
          <button tappable ion-item (click)="chongzhi($event)">
            <ion-icon class="personal-center-icon" name="card" item-start></ion-icon>
            <ion-label style="padding-left:3rem">充值</ion-label>
          </button>
          <button tappable ion-item (click)="mallSetting($event)">
            <ion-icon class="personal-center-icon" name="home" item-start></ion-icon>
            <ion-label style="padding-left:3rem">商城设置</ion-label>
          </button>
        </ion-list>
      </ion-card>
      <ion-row>
        <a class="top_segment" style="padding-left:1.5rem">技术员设置</a>
        </ion-row>
        <ion-card>
          <ion-list>
            <button tappable ion-item (click)="applyMaintainer($event)">
              <ion-icon class="personal-center-icon" name="checkmark-circle-outline" item-start></ion-icon>
              <ion-label style="padding-left:3rem">认证技术员</ion-label>
            </button>
            <button tappable ion-item (click)="myResume($event)">
              <ion-icon class="personal-center-icon" name="browsers" item-start></ion-icon>
              <ion-label style="padding-left:3rem">我的个人简历</ion-label>
            </button>
          </ion-list>
        </ion-card>
        <ion-row>
            <a class="top_segment" style="padding-left:1.5rem">系统设置</a>
          </ion-row>
          <ion-card>
            <ion-list>
              <button ion-item>
                <ion-icon class="personal-center-icon" name="cog" item-start></ion-icon>
                <ion-label style="padding-left:3rem">修改密码</ion-label>
              </button>
              <button tappable ion-item (click)="systemMessage($event)">
                <ion-icon class="personal-center-icon" name="notifications-outline" item-start></ion-icon>
                <ion-label style="padding-left:3rem">系统消息</ion-label>
              </button>
              <button tappable ion-item (click)="mailBox($event)">
                <ion-icon class="personal-center-icon" name="text" item-start></ion-icon>
                <ion-label style="padding-left:3rem">留言箱(我们会第一时间给您回复)</ion-label>
              </button>
              <button ion-item>
                <ion-icon class="personal-center-icon" name="trash" item-start></ion-icon>
                <ion-label style="padding-left:3rem">清理缓存</ion-label>
              </button>
              <button tappable ion-item (click)="fenxiang($event)">
                <ion-icon class="personal-center-icon" name="barcode" item-start></ion-icon>
                <ion-label style="padding-left:3rem">个人专属邀请码</ion-label>
              </button>
            </ion-list>
          </ion-card>
    </ion-content>
</ion-content>
