page-group-list {

  .attendance-date {
    text-decoration: underline;
  }

  .attendance-date a {
    color: rgb(33, 150, 243);
    white-space: nowrap;
    letter-spacing: 0px;
    font-family: sans-serif, "Helvetica Neue", Arial;
    font-size: 13px;
  }

  .content-background {
    background-color: #F5F5F5;
  }

  .filter-img {
    position: relative;
    left: 7px;
    top: 2px;
  }

  .group-list-head {
    background-color: #F5F5F5;
  }

  .group-list-row {
    background-color: #FFFFFF;
    margin: 0 7px 10px 7px;
  }

  .group-list-row .badge-ios {
    padding: 2px 7px;
    font-size: 12px;
    font-weight: 300;
  }

  .group-name {
    margin-top: 4px;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    font-family: SFCompactDisplay-Regular, SanFranciscoDisplay-Regular, SFUIDisplay-Regular, ".SFNSDisplay-Regular", HelveticaNeue, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-size: 24px;
  }

  .group-searchbar {
    background-color: #F5F5F5;
    color: rgba(0,0,0,1);
    font-size: 14px;
    font-family: SFUIText-Regular, SanFranciscoText-Regular, '.SFNSText-Regular', SFCompactText-Regular, HelveticaNeue, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
  }

  .item-ios.item-block .item-inner {
    padding-right: 3px;
  }

  .item-block {
    min-height: 2.4rem;
  }

  .label label-ios {
    margin-bottom: 0;
  }

  .label-ios {
    margin: 9px 0 6px 0;
  }

  .last-attendance {
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    font-family: sans-serif, "Helvetica Neue", Arial;
    font-size: 13px;
  }

  .list-scroll {
    height: 82%;
  }

  .list-scroll .label-ios {
    margin: 0;
  }

  .missing-note {
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    font-family: sans-serif, "Helvetica Neue", Arial;
    font-size: 13px;
  }

  .organization-select {
    height: 22px;
    min-height: 0;
    padding: 0;
    font-size: 16px;
    color: #2F83D6;
    background-color: #F5F5F5;
    font-family: sans-serif, "Helvetica Neue", Arial;
  }

  .right-icon {
    font-size: 30px;
    margin: 12px 12px 0 0;
    float: right;
    color: #9B9B9B;
  }

  .search-bar-content {
    background-color: #F5F5F5;
  }

  .searchbar-ios .searchbar-search-icon {
    top: 6px;
    background-size: 15px;
  }

  .student-num {
    line-height: 18px;
    letter-spacing: 0px;
    color: rgb(141, 141, 141);
    font-family: sans-serif, "Helvetica Neue", Arial;
    font-size: 12px;
  }

  .subject-name {
    margin-top: 10px;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    font-family: SFUIDisplay-Regular, SanFranciscoDisplay-Regular, ".SFNSDisplay-Regular", SFCompactDisplay-Regular, HelveticaNeue, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-size: 18px;
  }

  .teacher-name {
    line-height: 14px;
    letter-spacing: 0px;
    color: rgb(141, 141, 141);
    font-family: sans-serif, "Helvetica Neue", Arial;
    font-size: 12px;
  }

}
