page-dashboard {
  .classroom-content {
    width: 280px;
    margin: 20px auto 30px;
  }

  .classroom-note {
    letter-spacing: 0px;
    color: rgb(7, 56, 135);
    font-family: Raleway;
    font-weight: 300;
    font-size: 36px;
  }

  .dashboard-logo {
    background-color: #FFFFFF;
  }

  .dashboard-navigation {
    height: 87px;
    margin: 30px 15px 10px;
  }

  .dashboard-row {
    border: 1px solid #AAAAAA !important;
  }

  .attendance-row {
    margin: 30px 15px 10px;
    border-top: 4px solid #54C242 !important;
  }
  
  .communications-row {
    margin: 15px 15px 10px;
    border-top: 4px solid #F28500 !important;
  }

  .dashboard-row-font {
    line-height: 50px;
    letter-spacing: 0px;
    color: rgb(85, 85, 85);
    font-family: sans-serif, "Helvetica Neue", Arial;
    font-size: 24px;
    text-align: left;
    padding-left: 5%;
  }

  .item-block {
    min-height: 2.0rem;
  }

  .item-ios [item-start] {
    margin: 8px 8px 8px 0;
  }

  .item-margin {
    margin-top: 6px;
  }

  .lessons-row {
    margin: 15px 15px 10px;
    border-top: 4px solid #2196F3 !important;
  }

  .organization-select {
    max-width: 100%;
    padding: 0 8px 0 0;
    letter-spacing: 0px;
    color: rgb(25, 118, 210);
    font-family: sans-serif, "Helvetica Neue", Arial;
    font-size: 18px;
    margin: 0 auto;
  }

  .school-item {
    margin-top: 6px;
  }

  .select-ios .select-icon .select-icon-inner {
    color: rgb(25, 118, 210);
  }

  .toolbar-title-ios {
    letter-spacing: 0px;
    font-family: Raleway;
    font-weight: 300;
    font-size: 36px;
  }
}
