page-publish-neworder {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #66CCFF;
    }

    .text-background-style {
        padding: 0;
        margin: 0;
    }

    .detal-text {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    .detal-text-first {
        margin-top: -0.3rem;
        font-size: 1.5rem;
    }
}
