page-find-password {
    .login-background {
        background-color: #8fcff4;
    }

    .nav-bar {
        background-color: #8fcff4;
        position: relative;
        top: 5%;
    }

    .item-ios.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #e0dfe4;
    }

    .login-register-btn {
        position: relative;
        top: 3%;
    }

    .text-content {
        white-space: normal;
        padding-left:15%;
        padding-right:15%;
        color:white;
        font-size:2rem;
    }

    .login-button {
        height: 42px;
        width: 25rem;
        font-family: 'Raleway';
        font-weight: 200;
        color: #000000;
        background: #FFFFFF;
        font-size: 20px;
        position: relative;
        top:25%;
    }
}
