page-maintain-list {
    [col-6] {
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
    }

    .card-content-md {
        padding: 13px 16px;
        font-size: 0.4rem;
        line-height: 1.5;
    }
}
