<!--
  Generated template for the MaintainListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title style="color:#1db4cc;text-align:center;font-size: 1.5rem;">收到的服务申请</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="fasle">
  <ion-card *ngFor="let maintainer of maintainerList">
    <ion-card-content>
      <ion-row>
        <ion-col col-2 style="text-align:center;">
          <ion-icon name="contact" style="color:#1db4cc;font-size: 5rem;" item-start></ion-icon>
        </ion-col>
        <ion-col col-15>
          <ion-row>
            <ion-col col-6>
              <a style="color:black;">{{maintainer.name}}</a>
              <a style="color:#66CCFF;" tappable (click)="resume(maintainer.name, $event)">【简历】</a>
            </ion-col>
            <ion-col col-5>
              <a style="color:#f5b0b1;float:right;">{{maintainer.hotpoint}}</a>
            </ion-col>
          </ion-row>
          <ion-row>
            <div>
            <a style="color:black;">称号：{{maintainer.role}}</a>
            <a style="color:#868788;text-align:end;" tappable (click)="chooseMaintainer(maintainer.name, $event)">【选择让他上门服务】</a>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-item>
        <div *ngIf="maintainer.ordercount >= 20" style="font-size:1rem;color:#f5b0b1">【订单已满】20/20 无法再接单</div>
        <div *ngIf="maintainer.ordercount < 20" style="font-size:1rem;color:#66CCFF">【订单数量】：{{maintainer.ordercount}}/20</div>
        <div style="color:#66CCFF;font-size:0.4rem;white-space:normal;">点击简历可以查看师傅评价 建议选择评价较好的师傅上门服务</div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
